<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>
        All our Flats
      </h1>
    </div>
  </div>

  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-md-4">

        <div class="card mb-5 shadow-sm p-3 mb-5 bg-body-tertiary rounded" style="width: 25rem;">

          <img class="card-img-top" alt="London Flat" src="https://images.unsplash.com/photo-1464316325666-63beaf639dbb?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">


          <div class="card-body">
            <h5 class="card-title"><%= flat.name %></h5>
            <p><%= flat.address %></p>
            <div class="d-flex">
              <div class="d-flex align-items-center">
                <i class="fa-solid fa-people-line"></i>
                <span><%= flat.number_of_guests %></span>
              </div>
              <div class="flex align-items-center ms-3">
                <i class="fa-solid fa-euro-sign"></i>
                <span><%= flat.price_per_night %></span>
              </div>
            </div>
            <div class="d-flex mt-3">
              <%= link_to "More info", flat_path(flat) %>
              <%= link_to "Edit", edit_flat_path(flat), class: "ms-3 text-warning" %>
              <%= link_to "Remove", flat_path(flat), class: "ms-3 text-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
            </div>
          </div>
        </div>
      </div>



    <% end %>

</div>
